<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284707235547-5fok7h4onub88buhfcslarpk9lupjlu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284707235547-5fok7h4onub88buhfcslarpk9lupjlu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA0iHaFJnxeFLDRhPB6XUCqkCzjHmYKAyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>284707235547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflix</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-89f02</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-89f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284707235547:ios:2aba8612fbbcbc2146cefe</string>
</dict>
</plist>